.Card {
  color: var(--light-green);
  background-color: var(--dark-electric-blue);
  padding: 8px;
  font-size: 14px;
  border-radius: 12px;
}

.Card__main {
  display: flex;
}

.Card__info {
  padding-left: 8px;
}

.Card__image-container {
  width: 100px;
  height: 150px;
  flex: 0 0 auto;
  border-radius: 8px;
  overflow: hidden;
}

.Card__image {
  width: 100%;
  height: 100%;
  object-position: center center;
  object-fit: cover;
}

.Card__name {
  font-size: 20px;
  margin: 0 0 16px;
  color: var(--acid-green);
}

.Card__text {
  margin: 8px 0 0;
}

.Card__label {
  color: var(--blue);
}

.Card__episodes {
  margin: 8px 0 0;
}

.Card__show-more {
  all: unset;
  cursor: pointer;
  font-weight: 600;
  color: var(--blue);
}

.Card__show-more:hover {
  text-decoration: underline;
}
