body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--rich-black-fogra-29);
}

* {
  box-sizing: border-box;
}

:root {
  --rich-black-fogra-29: #0d1f2dff;
  --dark-electric-blue: #166678;
  --light-green: #f0ffef;
  --acid-green: #93f373;
  --blue: #79e7ff;
}
